---
BasedOnStyle: LLVM
IndentWidth: 2

AlignConsecutiveAssignments:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
AllowShortCaseLabelsOnASingleLine: true
ContinuationIndentWidth: 2
