394:CONFIG_CB_DISPLAY_DIGITS=5
395:CONFIG_CB_DISPLAY_COMMON_NODE=1
396:CONFIG_CB_DISPLAY_PIN_OE=21
397:CONFIG_CB_DISPLAY_PIN_RCLK=26
398:CONFIG_CB_DISPLAY_PIN_SRCLR=25
399:CONFIG_CB_DISPLAY_PIN_SRCLK=22
400:CONFIG_CB_DISPLAY_PIN_SER=27
406:CONFIG_CB_BUTTONS_PIN_BUT=34
407:CONFIG_CB_BUTTONS_PIN_BUT_LOGIC=1
413:CONFIG_CB_SDCARD_PIN_MOSI=23
414:CONFIG_CB_SDCARD_PIN_MISO=19
415:CONFIG_CB_SDCARD_PIN_CLK=18
416:CONFIG_CB_SDCARD_PIN_CS=5
